header .row {
  display: flex;
  align-items: center;
}

header {
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

#name {
  color: green;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .small-8 columns {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
