header .row {
  display: flex;
  align-items: center;
}

header {
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

#name {
  color: green;
  font-size: 30px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .small-8 columns {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

p {
    margin: 1cm 4cm 1cm 4cm;
}

#question {
  font-size: 20px;
  color: orange;
}
